@font-face {
  font-family: "iconfont"; /* Project id 4517151 */
  src: url('iconfont.woff2?t=1714091550009') format('woff2'),
       url('iconfont.woff?t=1714091550009') format('woff'),
       url('iconfont.ttf?t=1714091550009') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangla:before {
  content: "\e65c";
}

.icon-xiala:before {
  content: "\e65b";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-pachong1:before {
  content: "\e76c";
}

.icon-pachong:before {
  content: "\e704";
}

